table {
  border: 1px solid #000;
  border-collapse: separate;
  border-spacing: 2px;
  margin: 0 auto;
}

th,td {
  text-align: center;
  width: 28px;
  height: 28px;
  font-size: 14px;
  user-select: none;
}

th {
  font-weight: 600;
  background: #f2f2f2;
}

td {
  background-color: whitesmoke;
  border-radius: 3px;
}

td:hover,
.month-selector:hover {
  cursor: pointer;
  background-color: yellow;
  color: goldenrod;
}

td.not-in-month {
  background-color: transparent;
  color: #667;
}

td.not-in-month:hover {
  cursor: default;
  background-color: transparent;
  color: #667;
}
